<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <title>Predict Page</title>
  </head>
  <body>
    <h1>Recommendation System Prediction</h1>
    <div class="top-container">
      <article class="card" id="user-{{user.id}}">
        <div class="inner">
          <span class="pricing">
            <span> {{user.user.review_count}}<small> Reviews</small> </span>
          </span>
          <h2 class="title">{{user.user.name}}</h2>
          <p class="info">Yelping Since : {{user.user.yelping_since}}</p>
          <ul class="features">
            <li>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <span><strong>{{user.user.useful}}</strong> Useful Reviews</span>
            </li>
            <li>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <span><strong>{{user.user.fans}}</strong> Fans</span>
            </li>
            <li>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <span
                ><strong
                  >{{user.user.compliment_hot + user.user.compliment_more +
                  user.user.compliment_profile + user.user.compliment_cute +
                  user.user.compliment_list + user.user.compliment_note +
                  user.user.compliment_plain + user.user.compliment_cool +
                  user.user.compliment_funny + user.user.compliment_writer +
                  user.user.compliment_photos }}</strong
                >
                Compliments</span
              >
            </li>
          </ul>

          <span class="star">
            {% set rating = user.user.average_stars %} {% for _ in range(rating
            | int) %} &#9733; {% endfor %} {% if rating % 1 != 0 %}
            <span class="half-star">&#9733;</span>
            {% endif %}
          </span>
        </div>
      </article>

      <div
        class="circular-progress"
        data-inner-circle-color="white"
        data-progress-color="#6558d3"
        data-bg-color="white"
      >
        <div class="inner-circle"></div>
        <p class="percentage">0%</p>
      </div>

      <article class="card" id="business-{{business.id}}">
        <div class="inner">
          <span class="pricing">
            <span>
              {{business.business.review_count}}<small> Reviews</small>
            </span>
          </span>
          <h2 class="title-business">{{business.business.name}}</h2>
          <p class="info">
            Address : {{business.business.address}}, {{business.business.city}},
            {{business.business.state}}, {{business.business.postal_code}}
          </p>
          <ul class="features">
            <li>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <span><strong>Good</strong> for Kids</span>
            </li>
            <li>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <span>Parking <strong>Available</strong></span>
            </li>
            <li>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                    fill="currentColor"
                  />
                </svg>
              </span>
              <span><strong>Accepts</strong> Credit Cards</span>
            </li>
          </ul>
          <span class="star-business">
            {% set rating = business.business.stars %} {% for _ in range(rating
            | int) %} &#9733; {% endfor %} {% if rating % 1 != 0 %}
            <span class="half-star">&#9733;</span>
            {% endif %}
          </span>
        </div>
      </article>
    </div>
    <div class="home-button">
      <a href="/" class="button">Go to Home Page</a>
    </div>

    <script>



      const circularProgress = document.querySelectorAll(".circular-progress");

      Array.from(circularProgress).forEach((progressBar) => {

        let result = {{ result | tojson | safe }};

      const jsonObject = JSON.parse(result);


      const resultValue = jsonObject.result;

      console.log(resultValue);

        const progressValue = progressBar.querySelector(".percentage");
        const innerCircle = progressBar.querySelector(".inner-circle");
        let startValue = 0,
            startRating=0,
          endValue = resultValue,
          endrating= resultValue,

          speed = 75,
          progressColor = progressBar.getAttribute("data-progress-color");
          endValue=Math.round(endValue*100/5);

        const progress = setInterval(() => {
          startRating=startRating+0.05;
          startValue++;

          console.log(startValue,endValue,resultValue)

          show_rating= Math.round(startRating * 10) / 10;
          progressValue.textContent = `${show_rating}` ;
          progressValue.style.color = `${progressColor}`;

          innerCircle.style.backgroundColor = `${progressBar.getAttribute(
            "data-inner-circle-color"
          )}`;

          progressBar.style.background = `conic-gradient(${progressColor} ${
            startValue * 3.6
          }deg,${progressBar.getAttribute("data-bg-color")} 0deg)`;
          if (startValue === endValue) {
            clearInterval(progress);
          }
        }, speed);
      });
    </script>
  </body>
</html>
